@import "https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&display=swap";
@import "https://fonts.googleapis.com/css2?family=Audiowide&family=Playfair+Display:ital@0;1&display=swap";

$mainFont: 'Audiowide', cursive;   
$secondFont: 'Lobster', cursive;
$thirdFont: 'Playfair Display', serif;